@media only screen and (max-width: 416px){
.navigation{
    width: 90%;
}
.menu{
    display: none;
}
.hamburger{
    display: inline-block;
}
.fa-bars{
    font-size: 20px;
}
/* <!-- ================ hero section =================== --> */
.image{
    display: none;
}
.hero{
    background-image: url(assests/Rectangle\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green-side{
    width: 100%;
    /* text-align: center; */
}
.content-box {
    transform: translatex(0px);
    -webkit-transform: translatex(0px);
    -moz-transform: translatex(0px);
    -ms-transform: translatex(0px);
    -o-transform: translatex(0px);
}
.content-box h1{
    font-size: 22px;
    margin-top: px;
    
}
.green-side{
    flex-basis: 100%;
    background-color: transparent;
}
.content-box{
    background-color: aliceblue;
    padding: 20px;
    width: 80%;
    margin: auto;
}
/* <!-- ======================grid section ========================= --> */
.grid-sec{
    width: 90%;
}
.card-sec{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 40px;
}
.card h2 {
    font-size: 22px;
}
.post {
    padding-right: 0px;
}
.card p {
    font-size: 14px;
}
.recent-post p {
    font-size: 14px;
}
.popular-post p {
    font-size: 14px;
}
/* ================ Fooooterrr===================== */
footer{
    background-color: #3C7D36; 
    padding: 40px 0px;
}
.footer-sec{
    display: grid;
    grid-template-columns: 1fr;
width: 90%;
padding: 0px 0px;}
.ones{
    order: 1;
}
.ones p {
    font-size: 14px;
}
.ones h1 {
    margin-bottom: 10px;
}
.tows h3 {
    margin-bottom: 10px;
}
.threes h3 {
    margin-bottom: 10px;
}


.tows {
     order: 2;
     margin-top: 40px;
}
.threes{
     order: 3;
}
.fours{
     order: 4;
}

.tows ul li {
    font-size: 14px;
}
.threes ul li {
    font-size: 14px;
}
}